.notoken {
    margin-top: 20px;
    padding: 100px;
    text-align: center;
}

.friends {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: white;
}

.pay {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: white;
}

.create {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: white;
}

.payGas {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    color: white;
}

.paymentcard{
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
    margin-bottom: 20px;
}

.friendList {
    border-style: solid;
    border-radius: 15px;
    padding: 10px;
    background-color: black;
}

#friendimg {
    height: 20px;
    width: 20px;
    float: left;
    vertical-align: middle;
}