.profile {
    text-align: center;
	color: white;
    background-image: linear-gradient(gray, black);
}

.banner {
    margin: 25px;
    border-radius: 15px;
}

#profile_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
  }

h5 {
    padding: 20px;
}


.control-panel {
	margin-left: 25%;
	margin-right: 25%;
}

.charts {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.info {
    background-color: rgb(45, 45, 45);
    border-radius: 15px;
    text-align: start;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.settingdiv {
    text-align: end;
    margin-right: 20px;
    margin-top: 20px;
}

.notboot {
    background-image: url(./image.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 78px;
    width: 78px;
    border-radius: 100%;
    border: none;
}