.profile {
    text-align: center;
    /*background-image: linear-gradient(gray, black);*/
}

.banner {
    margin: 25px;
    border-radius: 15px;
}

#profile_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 300px;
    border-radius: 100%;
  }

h5 {
    padding: 20px;
}
