.subscription {
    color: white;
}

.premium-sub {
    color: black;
    margin: 20px;
}

.paymentcard2 {
    
    padding: 10px;
    border-style: solid;
    border-radius: 15px;
    text-align: start;
    color: silver;
    background-color: black;
    margin-bottom: 20px;
    width: 450px;
    height: 250px;
}

.separator2 {
    height: 50px;
    width: 400px;
    background-color: silver;
}