.market {
    background-image: linear-gradient(black,  rgba(81, 81, 94, 0.573));
    color:white;
}
.account {
    padding: 40px;
}

#profilepic {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border-style: solid;
    color:white;
    float: left;
    vertical-align: middle;
    background-color: white;
}

#account {
    padding-left: 70px;
}

#connected {
    margin-left: 80px;
}