.endofpage {
    border-radius: 12px;
    font-size: large;
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
    background-image: linear-gradient(black, rgb(54, 59, 65));
    text-align: center;
}