.main {
    color: white;
    background-image: url(./imp_bg.webp), linear-gradient(black, grey);
    background-repeat: no-repeat;
    background-size: 80%, 100%;
    background-position-x: 100%;
    background-position-y: 10% ;
}