.idea {
    border-style: solid;
    margin-top: 200px;
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 40%;
    background-color: rgb(15, 130, 0);
    border-radius: 10px;
}