
.about {
    padding-top: 40px;
    padding-left: 50px;
}

.why-site {
    margin: 30px;
    padding: 20px;
    background-color: white;
    
    color: black;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.why-account {
    margin: 30px;
    padding: 20px;
    background-color: white;
    
    color: black;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:700px) {
    #address {
        font-size: 13px;
    }
    .tokenomics {
        background-image:  linear-gradient(black, grey);
        color: white;
        font-size: 13px;
    }

    .token-info {

        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 1%;
        margin-right: 1%;
        background-image:  linear-gradient(black, rgb(49, 54, 58));
        border-radius: 15px;
    } 
    .whitepaper {
        text-align: start;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 1%;
        margin-right: 1%;
        padding: 10px;
        background-image:  linear-gradient(black, rgb(49, 54, 58));
        border-radius: 15px;
    }
    
    .explain {
        text-align: start;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 1%;
        margin-right: 1%;
        padding: 10px;
        background-image:  linear-gradient(black, rgb(49, 54, 58));
        border-radius: 15px;
    }
    
    .plan{
        text-align: start;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 1%;
        margin-right: 1%;
        padding: 10px;
        background-image:  linear-gradient(black, rgb(49, 54, 58));
        border-radius: 15px;
    }
}